/* Global styles */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* to cover full height of the viewport */
  }

body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  /* Login page styles */
  .login-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  .login-container h1 {
    margin-bottom: 20px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .login-container label {
    margin-top: 10px;
  }
  
  .login-container input {
    padding: 10px;
    margin-top: 5px;
  }
  
  .login-container button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Signup page styles */
  .signup-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  .signup-container h1 {
    margin-bottom: 20px;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .signup-container label {
    margin-top: 10px;
  }
  
  .signup-container input {
    padding: 10px;
    margin-top: 5px;
  }
  
  .signup-container button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Index page styles */
  
  .chat-container {
    width: 500px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .chat-header {
    text-align: center;
    border: 1px solid rgb(110, 107, 107);
  }

  .chat-headers {
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  .chat-messages {
    height: 60vh;
    overflow-y: scroll;
    /* margin-right: 5%; */

  }
  
  .message-container {
    margin-bottom: 10px;
  }

  /* .message-container:nth-child(odd) {
    text-align: left;
  } */
  
  .message-container{
    text-align: center;
  }
  .message-container-right{
    text-align: right;
    font-size: 1.2rem;
    margin-right: 2%;
  }

  .message-container-left{
    text-align: left;
    font-size: 1.2rem;
  }
  
  .message-username {
    font-weight: bold;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
  }
  
  textarea {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
  }
  
  .side-section {
    width: 20%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    height: 100%;
  }
  
  #public{
    padding: 10px;
    background-color: lightslategray;
    border-radius: 10px;
    border-color: rgb(151, 145, 145);
    cursor: pointer;
    font-size: 1.2rem;
  }
  .group-list {
    list-style: none;
    padding: 0;
    margin: 0;
    /* margin-left: 5%; */  }

  .group-list li {
    margin-bottom: 10px;
  }

  .group-text {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    background-color: #8c93cf;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
  }
  
  .group-text:hover {
    background-color: #706c6c;
  }
  
  .invite{
    margin-top: -1.5rem;
    margin-left: 4.5rem;
  }
  
  .create-group-btn {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.search{
  margin: 10px;
  margin-top: 20px;
  margin-left: 0rem;
}

.search input{
  width: 100px;
}
  .user-container {
    margin: 20px 0;
  }
  
  .user-container h2 {
    margin-bottom: 10px;
  }
  
  .user-list {
    list-style-type: none;
    margin-left: 0rem;
    padding: 0;
    margin: 0;
  }
  
  .user-list li {
    padding: 2px;
    border-bottom: 1px solid gray;
    margin-bottom: 2px;
  }
  

  /* .create-group-btn {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  } */
  
  .create-group-btn:hover {
    background-color: #3e8e41;
  }
  
/* Styles for screens larger than 600px */
@media (min-width: 600px) {
  .login-container, .signup-container, .chat-container {
    width: 700px;
  }
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  .login-container, .signup-container, .chat-container {
    width: 300px;
  }
}

.login-container, .signup-container, .chat-container {
  width: 80%;
  /* height: 100vh; */
}
